#banner .wrapper {
  background-size: cover;
  background-position: top;
  height: 50vh;
  box-shadow: 0px 1px 5px #555;
  z-index: 0;
}

#banner .container {
  height: inherit;
  .row {
    height: inherit;
  }
}

#body {
  padding-top: 10px;
  .wrapper {
    min-height: calc(100vh - 130px);
  }
}

.pac-container {
    z-index: 1051 !important;
}
